.identification-dialog-wrapper {
    display: none;
    position: absolute;
    width: 30%;
    height: 40%;
    top: 20%;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px, rgba(0, 0, 0, 0.2) 0px 3px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    user-select: none;

    &[open] {
        display: flex;
    }

    input {
        background-color: #e0d0f7;
        border: solid #cfb8f0 1px;
        padding: 8px 30px;
        border-radius: 12px;
    }

    button {
        color: #fff;
        background-color: #915ff2;
        padding: 8px 12px;
        border-radius: 20px;
        font-size: 18px;
    }
}
